<div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/docker">Docker</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/install">Install</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/mapbender">Mapbender</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/odk">ODK</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/prometheus">Prometheus</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/snipe-it">Snipe-IT</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/solis">SOLIS</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/sonarqube">Sonarqube</a></div>
    <div style="padding: 5px; width: 200px; border-bottom: 1px solid black"><a href="/README/tutorials">Tutorials</a></div>
</div>
